@import "../../sass/import";

.logo {
  display: block;
}

.logo_container {
  vertical-align: middle;
  width: $space-1;
  display: table-cell;
}

.header_items {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
}

.title {
  font-size: $space-4;
  font-family: $font__fancy;
}

@media screen and (max-width: $viewport__medium) {
  .logo_container {
    height: $space-3;
    width: $space-1;
  }

  .title {
    font-size: $space-5;
    transform: translateY(-5px);
  }
}

.text_link_items {
  display: table; height: $space-4; overflow: hidden;
}

.textLinks {
  display: table-cell; 
  vertical-align: middle;
  color: $black;
  font-size: 12px;
}
