@import "../../sass/import";

.logo {
  // vertical-align: middle;
  max-width: 100%;
  max-height: 100px;
  display: block;
  margin: 0 auto;
}

.logo_container {
  vertical-align: middle;
  height: $space-2;
  width: $space-0;
  display: table-cell;

}

.header_items {
  display: inline-block; 
  // margin: 20px;
  // display: flex;
}

.title {
  font-size: $space-4;
  font-family: $font__fancy;
}

@media screen and (max-width: $viewport__medium) {
  .logo_container {
    height: $space-3;
    width: $space-1;
  }

  .title {
    font-size: $space-5;
    transform: translateY(-5px);
  }
}
