@import "../../sass/import";

.popup {
  word-wrap: break-word;
}

.mapParent {
  position: relative;
}

.map {
  height: 512px;
  z-index: 0;
}

.addStory {
  background-color: $red__light;
  border-radius: 500px;
  color: white;
  padding: $space-9 $space-8;
  z-index: 5;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addStory:hover {
  background-color: $red__dark;
  cursor: pointer;
}