@import '../../sass/import';

.mapParent {
    position: relative;
}

.map {
    height: $space-0;
    z-index: -1;
}

.addStory {
    background-color: $red__light;
    border-radius: 15px;
    color: white;
    padding: $space-9 $space-8;
    z-index: 5;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addStory:hover {
    background-color: $red__dark;
    cursor: pointer;
}